<div class="container-fluid" id="siteWrapper" src="../assets/images/angularBackground.jpg">
  <div class="row">
    <div class="col-1 sideBar">
    </div>
    <div class="col-10">
      <div class="row text-center mt-5">
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <user-card (expenseEvent)="getCurrentExpenses($event)"></user-card>
        </div>
        <div class="col-2"></div>
      </div>

      <div class="row text-center mt-5">
        <div class="col-12">
          <div class="row mt-3">
              <detail-card *ngFor="let currentExpense of currentExpenses; let i = index" [currentExpense]="currentExpenses[i]"></detail-card>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1 sideBar"></div>
  </div>
</div>

<router-outlet></router-outlet>