<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{userName}}</h5>
      <p class="card-text">Current Expenses: {{currentExpense | currency}}</p>
      <div class="row">
          <div class="col-12">
            <form [formGroup]="budgetForm" (ngSubmit)="addExpense(budgetForm.value)" ngNativeValidate>
              <div>
                <label for="name">
                  Name
                </label>
                <input id="name" type="text" formControlName="Name" class="form-control" ([ngModel])='event.Name' required>
              </div>
              <div>
                <label for="total">
                  Total
                </label>
                <input id="total" type="number" formControlName="Total" class="form-control"  ([ngModel])='event.Total' required>
              </div>
              <button class="button btn btn-primary mt-2" type="submit" (click)="emitExpenseArray()">Add Expense</button>
            </form>
          </div>
      </div>
    </div>
</div>
